body{
    text-align: center;
    background-image:url("https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX10809871.jpg");
}
.btn-warning{
    margin: 27px;
}
h2{
    font-family: 'Playfair Display', serif;
    color: brown;
    font-size: 50px;
    background-color: rgba(255, 255, 255, 80%);
    padding: 10px;
    border-radius: 4px;
    margin-left :20px;
    margin-right: 20px;
}
h4{
    font-family: 'Fredoka One', cursive;
    color: rgb(255, 255, 255);
    font-size:30px;
    background-color: chocolate;
    padding: 10px;
    border-radius: 60px;
    margin-left :400px;
    margin-right: 400px;
}
button{
    font-size: 20px !important;
}